/* _content/banjo-app/Pages/Components/NoteCard.razor.rz.scp.css */
.NoteCard[b-f6h45n9hkz] {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.NoteCard .Note[b-f6h45n9hkz] {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.NoteCard .Note[issharp][b-f6h45n9hkz]::after {
    position: absolute;
    content: "♯";
    top: -10px;
    right: -20px;
    font-size: 32px;
}
/* _content/banjo-app/Pages/Index.razor.rz.scp.css */
.SexyButton[b-8bnkevewur] {
    outline: none;
    border: none;
    background-color: #ae58b2;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .1);
}

.SexyButton:hover[b-8bnkevewur] {
    background-color: #9e4ca2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
}
/* _content/banjo-app/Shared/MainLayout.razor.rz.scp.css */
.page[b-6ewu5tdpgp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6ewu5tdpgp] {
    flex: 1;
}

.sidebar[b-6ewu5tdpgp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-6ewu5tdpgp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6ewu5tdpgp]  a, .top-row .btn-link[b-6ewu5tdpgp] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-6ewu5tdpgp] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6ewu5tdpgp] {
        display: none;
    }

    .top-row.auth[b-6ewu5tdpgp] {
        justify-content: space-between;
    }

    .top-row a[b-6ewu5tdpgp], .top-row .btn-link[b-6ewu5tdpgp] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6ewu5tdpgp] {
        flex-direction: row;
    }

    .sidebar[b-6ewu5tdpgp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6ewu5tdpgp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-6ewu5tdpgp], article[b-6ewu5tdpgp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/banjo-app/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-plfwi51v0j] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-plfwi51v0j] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-plfwi51v0j] {
    font-size: 1.1rem;
}

.oi[b-plfwi51v0j] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-plfwi51v0j] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-plfwi51v0j] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-plfwi51v0j] {
        padding-bottom: 1rem;
    }

    .nav-item[b-plfwi51v0j]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-plfwi51v0j]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-plfwi51v0j]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-plfwi51v0j] {
        display: none;
    }

    .collapse[b-plfwi51v0j] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-plfwi51v0j] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
